<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">

<nav th:replace="fragments :: navigation"></nav>
<div th:replace="fragments :: sidenav"></div>
<div class="jumbotron jumbotron-fluid">
    <div th:if="${session.person.getFirstName() != null}">
        <h3>Hello,
            <span th:text="${session.person.getFirstName()}"></span>
            &nbsp;this is the cart view.
        </h3>
    </div>
    <div class="container" th:if="${OutOfStock != null}">
        <div class="alert alert-danger" role="alert" th:if="${OutOfStock != null}">
            <img th:src="@{'/images/' + ${outOfStockProduct.getProductId()} +'.jpg'}" class="img-responsive" style="width:80px; border-radius: 5px;"
                 alt="...">
            <span th:text="${OutOfStock}"></span>
        </div>
    </div>
    <div class="container" th:if="${emptyCart != null}">
        <div class="alert alert-danger" role="alert">
            <span th:text="${emptyCart}"></span>
        </div>
    </div>
    <div class="container" th:if="${session.person.getInvoice() != null}">
        <h4 th:text="${session.person.getInvoice().getInvoiceId()}"></h4>
        <div class="container mx-auto row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Remove</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productObj : ${session.person.getInvoice().getProducts()}">
                    <td><img th:src="@{'/images/' + ${productObj.getProductId()} +'.jpg'}" class="img-responsive" style="width:80px; border-radius: 5px;"
                             alt="..."></td>
                    <td th:text="${productObj.getProductName()}"></td>
                    <td>
                        <form method="POST" action="/removeFromCart">
                            <input type="hidden" name="productId" th:value="${productObj.getProductId()}"/>
                            <input type="submit" class="btn btn-danger" value="X"/>
                        </form>
                    </td>
                    <td th:text="'$' + ${productObj.getProductPrice()}"></td>
                </tr>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="2" th:text="'Total in cart : $ ' + ${session.person.getInvoice().getInvoiceTotal()}"></th>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <form method="POST" action="/checkOut">
                            <input type="submit" class="btn btn-outline-primary" value="Checkout">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:if="${session.person.getWishlist() != null}">
    <div class="container mx-auto row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="3">Wish list</th>
            </tr>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wishProductObj : ${session.person.getWishlist().getProducts()}">
                <td><img th:src="@{'/images/' + ${wishProductObj.getProductId()} +'.jpg'}" class="img-responsive"
                         style="width:80px; border-radius: 5px;"
                         alt="..."></td>
                <td th:text="${wishProductObj.getProductName()}"></td>
                <td>
                    <form method="POST" action="/removeFromWishlist">
                        <input type="hidden" name="productId" th:value="${wishProductObj.getProductId()}"/>
                        <input type="submit" class="btn btn-danger" value="X"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>